doctype html
html(lang="en")
  head
    block title
      title Rdio Spotify Artist Follow
    link(
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      crossorigin="anonymous"
    )
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
  body(style="font-family: 'Open Sans'" class="container")
    block pageTitle
      h1 Rdio Spotify Artist Follow
    block content
      p No page content
    script(
      src="http://code.jquery.com/jquery-2.1.4.min.js"
    )
    script(
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      crossorigin="anonymous"
    )